name: Java CI

on:
  workflow_dispatch: 

jobs:
  test:
    runs-on: ubuntu-latest

    container:
      image: maven:3.9.9-eclipse-temurin-21

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build & unit-test
        run: mvn --batch-mode --no-transfer-progress verify
